.checkout {
  .checkout__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 500px;
    color: #873235;
    padding: 2rem;

    @media (min-width: 468px) {
      padding: 1rem 10rem;
    }

    .toppings__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      width: 100%;
      padding: 0 1rem;

      h2,
      .button-wrapper {
        grid-column: span 2;
      }

      h2 {
        font-size: 1.4rem;
        text-align: center;

        @media (min-width: 468px) {
          font-size: 2rem;
          text-align: left;
        }
      }
    }

    @media (max-width: 468px) {
      flex-direction: column-reverse;
    }

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 40vh;

      @media (min-width: 468px) {
        height: 50vh;
      }

      .img-topping {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .img-contain {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .image-done h5 {
        position: absolute;
        bottom: 0;
        left: 0;

        text-align: center;
        width: 100%;
        bottom: 10vh;
        font-size: 1rem;
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      @media (min-width: 468px) {
        justify-content: start;
        column-gap: 2rem;
      }

      .btn-order {
        padding: 0.5rem 1rem;
        cursor: pointer;
        border: none;
        min-width: 44px;
        min-height: 33px;
        border-radius: 10px;
        background-color: #eba337;
        font-size: 0.9rem;
        font-weight: 300;
        color: #fff;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
        transition: 0.5s all ease-in-out;

        &:hover {
          padding: 0.5rem 1.2rem;
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
          transition: 0.5s all ease-in-out;
        }
      }
    }
  }
  svg {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}
